name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e

            cd /home/ubuntu/apps/market-scrapper
            git pull origin main

            cd go-test

            # bajar containers
            docker compose down

            # opcional: limpiar data
            # rm -rf data/*

            # build limpio
            docker compose build --no-cache

            # levantar
            docker compose up -d

            echo "Deployment completed at $(date)"
